<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title ?? site:name }}</title>
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
  </head>
  <body class="bg-slate-100">
    <main class="md:flex">
      <aside class="relative z-30 flex flex-col border-r-2 border-slate-200 bg-slate-100 px-4 py-6 md:sticky md:left-0 md:top-0 md:h-full md:min-h-screen md:w-full md:max-w-xs md:p-10 lg:max-w-lg">
        <div class="h-72 w-full overflow-hidden rounded-xl bg-gradient-to-tr from-indigo-500 via-purple-500 to-pink-500 shadow-xl">
          <img src="/img/zack-warren.jpeg" alt="Zack Warren" class="h-96 w-full object-cover object-center saturate-0" />
        </div>

        <span class="mt-8 text-2xl font-bold text-slate-900">Zack Warren</span>

        <article class="easing-relaxed prose prose-slate mt-6">
          <p class="lead">I'm a full-stack developer based in Salt Lake City, Utah. I specialize in building web applications and websites using PHP, Laravel, Vue.js, and Tailwind CSS. I'm passionate about creating clean, maintainable code and delivering high-quality products that exceed my clients' expectations.</p>
          <p>Sweating the details is what I do best. Whether it's code or content, I'm always driven to be as optimistic as possible to make sure that every engagment I have with a client, fellow developer -- or anyone really -- is positive and memorable!</p>
          <p>I love working with clients to bring their ideas to life and create something that is not only visually stunning but also highly functional and user-friendly. I'm always looking for new challenges and opportunities to learn and grow as a developer, and an entrepreneur.</p>
        </article>

        <ul class="mt-6 flex space-x-2 text-slate-600">
          <li>
            <a href="https://www.linkedin.com/in/zack-warren/">
              {{ partial:components.icons.linkedin-icon class="size-6 hover:text-slate-900" }}
            </a>
          </li>

          <li>
            <a href="https://github.com/zacksmash">
              {{ partial:components.icons.github-icon class="size-6 hover:text-slate-900" }}
            </a>
          </li>

          <li>
            <a href="https://x.com/_zacksmash">
              {{ partial:components.icons.x-icon class="size-6 hover:text-slate-900" }}
            </a>
          </li>
        </ul>
      </aside>

      <style>
        .pattern-grid-sm {
          background-image: linear-gradient(currentColor 1px, transparent 1px), linear-gradient(to right, currentColor 1px, transparent 1px);
          background-size: 10px 10px;
        }
      </style>
      <section class="relative flex-1 bg-white p-4 md:border-y-2 md:border-slate-200 md:p-10">
        <div class="fixed inset-0 z-20 block h-[200px] w-full bg-gradient-to-t from-white to-transparent"></div>
        <div class="pattern-grid-sm fixed inset-0 z-10 block h-[200px] w-full text-slate-100/80"></div>

        <div class="relative z-30 flex flex-col space-y-16">
          {{# Intro #}}
          <div class="shadow-7xl max-w-4xl rounded-xl bg-slate-800">
            <div class="p-10">
              <div class="flex flex-col items-center gap-8 md:flex-row">
                <div class="flex w-full flex-col space-y-10 md:w-1/2">
                  <h1 class="text-4xl font-bold text-white">Hi, I'm Zack! Developer and Web Artisan based in SLC</h1>
                </div>
                <div class="w-full self-start text-center md:w-1/2">
                  <img src="/img/hero-image.jpeg" alt="Zack Warren" class="mx-auto block aspect-square rounded-xl object-cover object-center shadow-xl" />
                </div>
              </div>
            </div>
          </div>

          {{# About #}}
          <div class="relative flex gap-6 lg:gap-14 xl:gap-20">
            <div class="sticky top-16 block self-start [writing-mode:vertical-rl]">
              <h2 class="text-xl font-bold text-slate-800">Current Goals</h2>
            </div>
            <div class="flex w-full flex-col">
              <article class="easing-relaxed prose prose-slate">
                <p>I'm always trying to keep myself motivated and up to date with everyting in the devlopment ecosystem. I'm also trying to build businesses myself, coming up with product ideas to try out and see if they stick. Here are some of the latest things I'm working towards.</p>

                <ul>
                  <li>Learning about AI, MCP/MCP UI's</li>
                  <li>Becoming a better Laravel and PHP developer</li>
                  <li>Creating open-source packages and libraries</li>
                  <li>Working to become a Laravel/Development content creator</li>
                </ul>
              </article>
            </div>
          </div>

          {{# Things #}}
          <div class="relative flex gap-6 lg:gap-14 xl:gap-20">
            <div class="sticky top-16 block self-start [writing-mode:vertical-rl]">
              <h2 class="text-xl font-bold text-slate-800">Things I've Done</h2>
            </div>
            <div class="flex w-full flex-col">
              <div class="flex flex-col divide-y divide-slate-100">
                <div class="py-12 first:pt-0 last:pb-0">
                  <div>
                    <h3 class="mb-2 mt-2 text-2xl font-bold text-slate-800">FortifyUI</h3>
                    <span class="font-sm text-slate-500">
                      <p><a href="https://github.com/zacksmash/fortify-ui">GitHub &rarr;</a></p>
                      <p><a href="https://packagist.org/packages/zacksmash/fortify-ui">Packagist &rarr;</a></p>
                    </span>
                    <article class="prose prose-slate mt-4">
                      <p>
                        FortifyUI is a Laravel package I created to get up and running with Laravel Fortify, without the opinionated frontend that comes with it. With
                        <strong>over 10,000</strong>
                        installs, FortifyUI is by far my most popular and successful venture into open source. FortifyUI installs and configures Laravel Fortify, as well as adding in the features that Fortify doesn't come with, out of the box. By default, and by design, FortifyUI has unstyled templates -- just plain ol' HTML -- which gives the developer the ability to style them according to their design.
                      </p>
                    </article>
                  </div>
                </div>
                <div class="py-12 first:pt-0 last:pb-0">
                  <div>
                    <h3 class="mb-2 mt-2 text-2xl font-bold text-slate-800">Pipeline.js</h3>
                    <span class="font-sm text-slate-500">
                      <p><a href="https://github.com/zacksmash/pipeline.js">GitHub &rarr;</a></p>
                      <p><a href="https://www.npmjs.com/package/@zacksmash/pipeline.js">NPM &rarr;</a></p>
                    </span>
                    <article class="prose prose-slate mt-4">
                      <p>Pipeline.js is an NPM package I created when I first started using (and completely enjoying) Laravel's Pipeline. Pipeline.js gives you the same API that you're used to on the Laravel side, completely written with vanilla Javascript. This package was also built out of my curiosity to become more familiar with the Javascript Class syntax, like private properties & methods, and using static methods.</p>
                    </article>
                  </div>
                </div>
                <div class="py-12 first:pt-0 last:pb-0">
                  <h3 class="mb-2 mt-2 text-2xl font-bold text-slate-800">Open Source Contributions</h3>
                  <div>
                    <h3 class="mt-2 text-lg font-semibold text-slate-700">Laravel Ads SDK</h3>
                    <span class="font-sm text-slate-500">
                      <p><a href="https://github.com/tmarois/laravel-ads-sdk">GitHub &rarr;</a></p>
                    </span>
                    <article class="prose prose-slate mt-4">
                      <p>Laravel Ads SDK is a wrapper for connecting to the popular online advertising platforms, Google Ads, Bing Ads and Facebook Ads. It provides a cleaner and more consistent integration across each platform</p>

                      <p>I helped contribute updates to the Facebook Ads integration and keeping the Facebook SDK updated.</p>
                    </article>
                  </div>
                  <div class="mt-4">
                    <h3 class="mt-2 text-lg font-semibold text-slate-700">Stringable Laravel</h3>
                    <span class="font-sm text-slate-500">
                      <p><a href="https://github.com/rudashi/stringable">GitHub &rarr;</a></p>
                    </span>
                    <article class="prose prose-slate mt-4">
                      <p>Stringable Laravel is Javascripts version of Laravel's String helper class. It provides many of the same functions that you're used to using in PHP, right in your Javascript applications.</p>

                      <p>I contributed some new methods and fixed a RegEx bug in the snake-case method.</p>
                    </article>
                  </div>
                </div>
                <div class="py-12 first:pt-0 last:pb-0">
                  <div>
                    <h3 class="mb-2 mt-2 text-2xl font-bold text-slate-800">Anvil iOS App</h3>
                    <article class="prose prose-slate mt-4 md:flex md:gap-4">
                      <div>
                        <p class="!mt-0">Anvil is a Laravel Forge companion app for iOS, built with the Ionic Framework. Anvil allows you to accomplish many of the things you can do on the web app, in a convenient mobile experience.</p>
                        <p>
                          I first started Anvil back in 2017, when Forge first released their API. I was able to release it on the App Store and even had an
                          <a href="https://laravel-news.com/anvil-app">article written about it on Laravel News</a>
                          . I've since rewritten it and I'm considering a re-release or just open sourcing it, this time.
                        </p>
                      </div>
                      <img src="/img/anvil-for-ios.png" alt="Anvil for iOS" class="!mt-0 w-56 self-center justify-self-center rounded-xl shadow-xl" />
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{# Skills #}}
          {{#
            <div class="relative flex gap-6 lg:gap-14 xl:gap-20">
              <div class="sticky top-16 block self-start [writing-mode:vertical-rl]">
                <h2 class="text-xl font-bold text-slate-800">Skillset</h2>
              </div>
              <div class="flex w-full flex-col">
                <div class="grid w-full max-w-5xl grid-cols-1 gap-8 gap-x-4 sm:grid-cols-2 md:grid-cols-3">
                  <article class="prose prose-slate">
                    <p class="font-bold">Core skills</p>
                    <ul>
                      <li>HTML</li>
                      <li>CSS/SCSS</li>
                      <li>Javascript (ES6)</li>
                      <li>PHP</li>
                    </ul>
                  </article>
                  <article class="prose prose-slate">
                    <p class="font-bold">Frameworks</p>
                    <ul>
                      <li>Vue.js</li>
                      <li>Ionic</li>
                      <li>Intertia.js</li>
                      <li>Tailwind</li>
                    </ul>
                  </article>
                  <article class="prose prose-slate">
                    <p class="font-bold">Technologies</p>
                    <ul>
                      <li>Bash / Terminal</li>
                      <li>Vite/Webpack</li>
                      <li>Package managers (NPM)</li>
                      <li>Git</li>
                    </ul>
                  </article>
                  <article class="prose prose-slate">
                    <p class="font-bold">Back-end</p>
                    <ul>
                      <li>PHP/Laravel</li>
                      <li>Mysql</li>
                      <li>Redis</li>
                    </ul>
                  </article>
                  <article class="prose prose-slate">
                    <p class="font-bold">Topics</p>
                    <ul>
                      <li>Testing / TDD</li>
                      <li>Github Actions (CI/CD)</li>
                      <li>Application Architecture</li>
                      <li>Consulting & Code Auditing</li>
                    </ul>
                  </article>
                </div>
              </div>
            </div>
          #}}

          {{# Work/Roles #}}
          <div class="relative flex gap-6 lg:gap-14 xl:gap-20">
            <div class="sticky top-16 block self-start [writing-mode:vertical-rl]">
              <h2 class="text-xl font-bold text-slate-800">Roles & Experience</h2>
            </div>
            <div class="flex w-full flex-col">
              <div class="flex flex-col divide-y divide-slate-100">
                <div class="py-12 first:pt-0 last:pb-0">
                  <span class="font-sm text-slate-500">Dec. 2020 — current</span>
                  <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">Director of Development / Max Connect Digital</h3>
                    <article class="prose prose-slate mt-4">
                      <p>As the Director of Development, I lead a team of full-stack developers that work on in-house software as well as client projects. My primary focus is our custom-built marketing attribution software, called Kudos. Kudos gives our clients the ultimate reporting software so they can see exactly where their marketing dollars are going and the effects of each of their marketing efforts, channel by channel & metric by metric.</p>
                      <div class="flex flex-wrap gap-2">
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">google apis</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">laravel</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">vue</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">inertia</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">tailwind</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">advertising platforms</span>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="py-12 first:pt-0 last:pb-0">
                  <span class="font-sm text-slate-500">Apr. 2020 — February. 2021</span>
                  <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">Co-Founder &bull; Partner / Schematik</h3>
                    <article class="prose prose-slate mt-4">
                      <p>At Schematik, our business was about helping people get the most out of their web platforms. Whether it was a new project, starting from the ground up, or an existing project that needed some TLC, we made sure that our clients got the best possible performance out of their codebase.</p>
                      <div class="flex flex-wrap gap-2">
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">consultation</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">laravel</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">statamic</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">website</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">webapp</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">ecommerce</span>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="py-12 first:pt-0 last:pb-0">
                  <span class="font-sm text-slate-500">May. 2020 — Dec. 2020</span>
                  <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">Senior Software Engineer / MRM | McCann</h3>
                    <article class="prose prose-slate mt-4">
                      <p>At McCann, I was brought on board to work with Cisco to assist with a few projects they had for the upcoming Olympics. After that project, I was moved to a Staff Augmentation role and helped with another Cisco project that was used to produce live events and allow users to re-watch previous events.</p>
                      <div class="flex flex-wrap gap-2">
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">gsap animation</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">vue.js</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">nosql</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">react</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">video</span>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="py-12 first:pt-0 last:pb-0">
                  <span class="font-sm text-slate-500">Apr. 2015 — Apr. 2020</span>
                  <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">Director of Development / Fluid Advertising</h3>
                    <article class="prose prose-slate mt-4">
                      <p>Fluid Advertising is a full-service digital marketing agency that specializes in creating custom solutions for our clients. As the Director of Development, I was responsible for leading a team of developers to create high-quality websites, web applications, and digital marketing campaigns. I worked closely with our clients to understand their needs and develop solutions that met their goals.</p>
                      <div class="flex flex-wrap gap-2">
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">wordpress</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">laravel</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">vue</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">websites</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">webapps</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">management</span>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="py-12 first:pt-0 last:pb-0">
                  <span class="font-sm text-slate-500">Jul. 2011 — Apr. 2015</span>
                  <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">Frontend Developer / Allmoxy</h3>
                    <article class="prose prose-slate mt-4">
                      <p>At Allmoxy, I helped lead out the front-end development of our web application. I was responsible for creating new features, fixing bugs, and maintaining the codebase. I worked closely with our back-end developers to ensure that our front-end code was optimized and efficient. My role also include creating instructional videos and tutorials for our users.</p>

                      <div class="flex flex-wrap gap-2">
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">css</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">php</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">screencasting</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">internal sales</span>
                        <span class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600">customer support</span>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{# Recognition & Awards #}}
          <div class="relative flex gap-6 lg:gap-14 xl:gap-20">
            <div class="sticky top-16 block self-start [writing-mode:vertical-rl]">
              <h2 class="text-xl font-bold text-slate-800">Recognition & Awards</h2>
            </div>
            <div class="flex w-full flex-col">
              <div class="flex flex-col divide-y divide-slate-100">
                <div class="py-12 first:pt-0 last:pb-0">
                  <div>
                    <article class="easing-relaxed prose-xs prose prose-slate">
                      <div>
                        <p class="!mb-0">April 6, 2022 &mdash; Scott Hendrix</p>
                        <small>Colleague @ Fluid Advertising</small>
                      </div>
                      <blockquote>
                        <p>Zack is everything you want in a Developer - his expert skill and in-depth development knowledge allows Fluid to build any project thrown our way and answer any curveball questions that we receive. As an Account Manager words cannot express how comforting it is to have a client-facing developer like Zack who can jump on any call, or attend any meeting, and provide answers that show the customer that they can have confidence in Zack and his team. This duel threat of unparalleled skill + client-facing capacity is rare in the development world. Zack is one-of-a-kind.</p>
                        <p>On top of already possessing in-depth knowledge and having a full 40+ hour work week, Zack finds time outside of work to sharpen his saw and scoop up new development knowledge on his own time. Every time we're looking for new approaches to development or animation Zack has answers and insights into what's possible and he's willing to try anything. Zack never ceases to amaze me.</p>
                      </blockquote>
                    </article>
                  </div>
                </div>

                <div class="py-12 first:pt-0 last:pb-0">
                  <div>
                    <article class="easing-relaxed prose-xs prose prose-slate">
                      <div>
                        <p class="!mb-0">April 29, 2020 &mdash; Kayla LeFevre</p>
                        <small>Colleague @ Fluid Advertising</small>
                      </div>
                      <blockquote>
                        <p>Zack is absolutely great to work with! I've worked with a lot of developers who would be very stuck in their ways or make you feel inferior for not understanding their code, but Zack was never like that. Whatever request a client would make, he always gave incredible insight into what it would take to reach that goal with a great "can-do" outlook and using terms that us normal people could understand. If I could work with a "Zack" at every company, I would!</p>
                      </blockquote>
                    </article>
                  </div>
                </div>

                <div class="py-12 first:pt-0 last:pb-0">
                  <div>
                    <article class="easing-relaxed prose-xs prose prose-slate pt-8">
                      <p>Feb 2024 &mdash; Synopsis Standout</p>
                      <blockquote>
                        <p>Cynopsis Standouts recognizes exceptional individuals who have left a significant mark in the past quarter by creating and implementing innovative solutions in diverse areas, including technology, team management, fostering team spirit, and beyond.</p>
                      </blockquote>

                      <img src="/img/synopsis-standout-zack-warren.jpeg" alt="Zack Warren, Synopsis Standout Winner 2024" class="rounded-xl shadow-xl" />

                      <p><a target="_blank" href="https://www.cynopsis.com/events/cynopsis-standouts/">Link to website</a></p>
                    </article>
                  </div>
                </div>

                <div class="py-12 first:pt-0 last:pb-0">
                  <div>
                    <article class="easing-relaxed prose-xs prose prose-slate">
                      <div>
                        <p class="!m-0">Feb 2024 &mdash; Devin Deaton</p>
                        <small>Partner @ Max Connect Digital</small>
                      </div>
                      <blockquote>
                        <p>Zack is a rare find. You don’t often find developers that are as business smart as Zack, but also know how to develop and write code the way he does. He is also very solution oriented and never focuses on the problem, as a business owner that is all you can ask for and Zack does it better than anybody I’ve met.</p>
                      </blockquote>

                      <p><a target="_blank" href="https://maxconnect.com/insights/cynopsis-standout-winner">Link to Article</a></p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{# Contact #}}
          <div class="relative flex gap-6 lg:gap-14 xl:gap-20">
            <div class="flex w-full flex-col">
              <article class="easing-relaxed prose prose-lg prose-slate">
                <h2>Get in touch</h2>
                <p>
                  You can check out my
                  <a target="_blank" href="https://www.linkedin.com/in/zack-warren/"><strong>LinkedIn</strong></a>
                  profile or drop me an
                  <a target="_blank" href="mailto:me@zackthe.dev"><strong>email</strong></a>
                  .
                </p>
              </article>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
